<div class="contents row">
  <% @posts.each do |post| %>
    <div class="content_post" style="background-image: url(<%= post.image %>);">
      <%= simple_format(post.content) %>
      <span class="name">
        <%= post.title %>
      </span>
    </div>
  <% end %>
</div>